@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  src: url('./fonts/DMSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  src: url('./fonts/DMSans-Medium.ttf') format('truetype');
  font-display: swap;
}
